# Auto detect text files and perform LF normalization
* text=auto

# Set the primary language for the repository
* linguist-language=HTML

# Override for specific file types
*.html linguist-language=HTML
*.css linguist-language=CSS
*.jsp linguist-language=HTML
*.java linguist-language=Java
*.java linguist-detectable=true
